<IfModule mod_rewrite.c>

RewriteEngine On
RewriteBase /

# Rediriger toutes les requêtes vers index.php sauf si le fichier ou dossier existe
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule ^(.+)$ index.php?slug=$1 [QSA,L]
RewriteRule ^([^/]+)$ index.php?slug=$1 [QSA,L]
RewriteRule ^(fr|en)/([^/]+)$ index.php?lang=$1&slug=$2 [L,QSA]

RewriteRule ^\.htaccess$ - [F]
</IfModule>

<IfModule mod_rewrite.c>

RewriteEngine On
RewriteBase /

RewriteRule ^sitemap\.xml$ sitemap-index.php [L]
RewriteRule ^robots\.txt$ robots-index.php [L]
</IfModule>